body {
  background-color: #ffe3eb;
  color: #333333;
}

main {
  margin-top: 116px;
  padding: 0px 16px 16px 16px;
}

header {
  background-color: #ffe3eb;
  border-bottom: #333 1px solid;
  padding: 16px;
  position: fixed;
  top: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.logo {
  font-family: "hegante", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.7rem;
  line-height: 1.4rem;
  color: #333;
  text-decoration: none;
}

figure {
  margin: 0px;
}

.contact_button {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 500, 'wdth' 115, 'slnt' 0;
  font-size: 1.2rem;
  text-align: center;
  color: #333;
  padding: 16px 30px;
  text-decoration: none;
  letter-spacing: 0.5px;
  width: 100px;
  border-radius: 80px/27px;
  border: #333 1px solid;
}

.contact_button:hover {
  background-color: #333;
  color: #ffe3eb;
}

h1 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 115, 'slnt' 0;
  font-size: 2rem;
  line-height: 2.4rem;
  margin: 0px 0px 16px 0px;
}

.project {
  padding-bottom: 32px;
  border-bottom: #333 solid 1px;
  max-width: fit-content;
}

.project:last-child {
  border-bottom: none;
}

.projects h2 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 115, 'slnt' 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0px;
}

.project h3 {
  font-size: 1.3rem;
}

.project a {
  text-decoration: none;
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 500, 'wdth' 115, 'slnt' 0;
  font-size: 1.1rem;
  line-height: 1.4rem;
  color: #ffe3eb;
}

.project p {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 300, 'wdth' 115, 'slnt' 0;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #ffe3eb;
}

.project p {
  margin-top: 0px;
}

img {
  width: 100%;
  height: auto;
}

/*.upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.goto {
  display: flex;
  align-items: center;
}

.project span {
  margin-left: 8px;
  color: #333;
}

footer {
  padding: 0px 16px;
  /*border-top: #ffe3eb 1px solid;*/
  padding: 24px 16px 0px 16px;
  background-color: #333;
  height: 100px;
}

.contact h2 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 115, 'slnt' 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0px;
}



footer p {
  display: flex;
  align-items: center;
  margin-top: 40px;
  float: right;
}

footer span {
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  color: #ffe3eb;

}

.contact_links {
  display: flex;
  margin-top: 24px;
  justify-content: center;
  gap: 24px;
}

.contact_links a {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 300, 'wdth' 115, 'slnt' 0;
  font-size: 1rem;
  color: #ffe3eb;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

/* Establece un estilo personalizado para la selección de texto */
::selection {
  background-color: #FFCCDA;
  color: black;
}

/*Styles in project_1*/

.project_header h2 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 115, 'slnt' 0;
  font-size: 1.4rem;
  line-height: 1.3;
  margin: 24px 0px;
}



.juan-image {
  width: 100%;
  height: auto;
}

.project_section h3 {
  font-family: "itc-american-typewriter", serif;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: #333;
}

.project_section p {
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}

figcaption {
  font-family: "itc-american-typewriter", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.1px;
  margin-top: 8px;
}

details {
  font-family: "itc-american-typewriter", serif;
  font-weight: 700;
  font-style: normal;
}

section.project_section {
  padding-bottom: 0px;
  border-bottom: #333 1px solid;
}

.other_projects {
  font-family: "acumin-variable", sans-serif;
  margin-top: 8px;
  padding-left: 16px;
}

.other_projects h2 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 115, 'slnt' 0;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin: 0px;
}

.other_projects h3 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 500, 'wdth' 115, 'slnt' 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0px;
}

.other_projects h4 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 700, 'wdth' 115, 'slnt' 0;
  font-size: 1.2rem;
  margin-bottom: 16px;

}

.other_projects h5 {
  font-family: "acumin-variable", sans-serif;
  font-variation-settings: 'wght' 300, 'wdth' 115, 'slnt' 0;
  font-size: 1rem;
  margin-top: 16px;
  line-height: 1.3rem;
}

.project_container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  max-width: 100%;
}

.other_projects article {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0px;
}

div article:not(:first-child) {
  padding-left: 10px;
}

div article:last-child {
  margin-right: 16px;
}

.other_projects img {
  height: 200px;
}

.metadata {
  list-style-type: none;
  border-left: #333333 1px dotted;
  margin: 0 0 0 16px;
  padding: 0;
}

.metadata li {
  font-size: 0.9rem;
  line-height: 1.4rem;
  font-family: "itc-american-typewriter", serif;
  font-weight: 500;
  font-style: normal;
}

summary {
  background-color: #333;
  color: #fee3eb;
  padding: 8px 8px;
}

details {
  background-color: #333;
  color: #fee3eb;
  padding: 8px 8px;
}







/*media queries*/

@media (min-width : 1000px) {
  .logo {
    font-size: 3.7rem;
    line-height: 3.7rem;
  }


}

@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}